
	.input{
	text-align:center;
	}
	.search{
	float:right;
	}
	.words{
	text-align:center;
	padding:10px;
	}
	.picture{
	padding:15px;
	}
	#main-head{
	text-align:left;
	background-color:red;
	text-color: clear;
	text-decoration:none;
	color:white;

	padding:15px;
	}
	a{
	text-decoration:none;
	}
	a:hover{
	color: blue;
	}
	a:active{
	color:red;
	}
	a:visited{
	color:purple;
	}