.input {
    text-align: center;
}
.image{
    width:900px; 
    height:380px;
    box-shadow: 0 0 20px 20px white inset;
}

.songclass {
    text-align: center;
    font-size: 20px;
}

.buttonclass:hover{
    border-radius: 12px;
    transition: all 0.5s;
    padding: 10px;
  cursor: pointer;
  margin: 5px;
}

.search {
    float: right;
}

.words {
    text-align: center;
    padding: 10px;
}
.back {
    background-image: url('{{ STATIC_URL }}tunefinder/images/BCC3BD1E-5DC0-4843-A841706AE575C694_source.jpg');
    background-size:100%;
}
.picture {
    padding: 15px;

}
#banner {
    padding: 12em 0 10em 0;
    background-image: url('tunefinder/static/BCC3BD1E-5DC0-4843-A841706AE575C694_source.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    border-top: 0.5em solid #5385c1;
}

#main-head {
    text-align: left;
    background-color: red;
    text-color: clear;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    padding: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    color: blue;
}

a:active {
    color: red;
}

a:visited {
    color: purple;
}
