{% extends "tunefinder/base.html" %}
{% load static %}

{% block content %}
<html>
<br>
<div class="input">
<h2 class="words">
Select your audio to find that tune 
</h2>
<div class="picture">
<input type="image" src="{% static 'tunefinder/images/spanish-listen-music.jpg' %}" alt="Person listening to music" width="900" height="380">
</div>
<br>
<form action="homepage.php" method="POST">
<input type="file" accept= audio/WAV id="userfile"></input>
<a href="{% url 'song' %}"><button type="button" name="Find that tune" placeholder="Find that tune">Find song</a>
</form>
</div>

<script type="text/javascript" src="homepage.js" ></script>

{% comment %} 
{% if songs %}
	<ul>
	{% for this_song in songs %}
	<li> {{ this_song }} </li>
	{% endfor %}
	</ul>
{% else %}
	<p>No songs are available.</p>
{% endif %}
{% endcomment %}
</html>
{% endblock %}