{% load static %}
<html>
	<link rel="stylesheet" type="text/css" href="styles.css">

<h1 id="main-head">
<a href="{% url 'homepage' %}">TuneFinder</a>
	<div class="search">
<input type="Text"  name="search" placeholder="Search" id="search">
<button type="button" onclick="myFunction()" placeholder="Submit">Submit</button>


</div>
</h1>
	</style>



<br>
<div class="input">
<h2 class="words">
Select your audio to find that tune 
</h2>
<div class="picture">
<input type="image" src="{% static 'tunefinder/images/spanish-listen-music.jpg' %}" alt="Person listening to music" width="900" height="380">
</div>
<br>
<input type="file" accept= audio/WAV id="userfile"></input>
<input type="Text" name="path display" placeholder="Find that tune"  id="find">
<input type="Submit" name="Find that tune" placeholder="Find that tune">
</div>

<script type="text/javascript" src="homepage.js" ></script>

{% if songs %}
	<ul>
	{% for this_song in songs %}
	<li> {{ this_song }} </li>
	{% endfor %}
	</ul>
{% else %}
	<p>No songs are available.</p>
{% endif %}


</html>