<!Doctype html>
<html>

<style type="text/css">
	.input{
	text-align:center;
	}
	.search{
	float:right;
	}
	#main-head{
	text-align:left;
	background-color:red;
	text-color: clear;
	text-decoration:none;
	color:white;
	padding:15px;
	}
	a{
	text-decoration:none;
	}
	a:hover{
	color: white;
	}
	a:active{
	color:red;
	}
	a:visited{
	color:purple;
	}
	</style>

<h1 id="main-head">
<a href="homepage.html">TuneFinder</a>
	<div class="search">
<input type="Text" name="search" placeholder="Search" id="search">
<input type="Submit" name="Submit" placeholder="Submit">
</div>
</h1>
<br>
<div class="input">
<h2>You searched</h2>
<input type="Text" name="search" placeholder="Search" id="search">
</div>
</html>