{% extends "tunefinder/base.html" %}
{% load static %}

{% block content %}
<!Doctype html>
<html>
<br>

<div class="input">
	<h2>We found the following audio: </h2>
    <div class="songclass">
    <ul>
    <li>Song Sugestion 1 (75%): <a href="https://open.spotify.com/track/3cfOd4CMv2snFaKAnMdnvK?si=ZUrtR4EbR0Opbj-7JkhWqA">All Star</li></a>
    <li>Song Sugestion 2 (25%): <a href="https://open.spotify.com/track/4w7RuuQAVP0JXlAom3z1aC?si=R4r5oWlTTQac0D264iLHdQ">Wonderwall</li></a>
    </ul>
    </div>
<audio controls>
  <source src=" " type="audio/wav" id ="result">
</audio>
<script>
var source = document.getElementById('result');
source.src = "{% static 'tunefinder/All Star.wav' %}";
</script>

</div>
<script>
    const player = document.getElementById('player');
    const file= "piano2.wav"
    const url = URL.createObjectURL(file);
    player.src = url;
    var audio = new Audio('piano2.wav');
    audio.play();
    

</script>
</html>
{% endblock %}