<div class="backsong">
{% extends "tunefinder/base.html" %}
{% load static %}

{% block content %}
<!Doctype html>
<html>
<br>

<div class="input">
<div class="text">
	<h2>We found the following audio: </h2>
    <div class="songclass">
    {% if song_list %}
      {% for song in song_list %}
      <Li>({{ song.percent }}%): <a href="https://google.com">{{ song.name }}</a></Li>
      {% endfor %}
    {% else %}
      <Li>No Suggestions</Li>
    {% endif %}
  </div>
    </div>
<audio controls>
  <source src="{{ song_path }}" type="audio/wav" id ="result">
</audio>
<script>
var source = document.getElementById('result');
source.src = {{ song_path }};
</script>
</div>
<script>
    const player = document.getElementById('player');
    const file= "piano2.wav"
    const url = URL.createObjectURL(file);
    player.src = url;
    var audio = new Audio('piano2.wav');
    audio.play();
    
</div>
</script>
</html>
{% endblock %}